@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ --swiper-theme-color : #DFDDE6 !important}

@layer components{
    .bgOpaque{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .margins{
        @apply outline outline-c_Mischka outline-1 rounded-md
    }
    .flexAllCenter{
        @apply flex justify-center items-center;
    }
    /* Estilo de fuente */
    .txtPrincipal{
        font-family: "Hind Madurai", Helvetica, Arial, sans-serif; 
    }
    .txtSecondary{
        font-family: 'Ubuntu', cursive, sans-serif; 
    }
    /* Tamaños de fuente */
    .txtSm{
        font-size:  calc(0.5em + 0.5vw);
        line-height: 1.2em;
    }
    .txtMd{
        font-size:  calc(0.5em + 0.7vw);
        line-height: 1.2em;
    }
    .txtLg{
        font-size:  calc(0.8em + 0.9vw);
        line-height: 1.2em;
    }
    .txtXl{
        font-size:  calc(1.3em + 1.5vw);
        line-height: 1em;
    }
    .txtXl2{
        font-size:  calc(1.5em + 1.8vw);
        line-height: 1em;
    }
    /* Backgrouns */
    .bg_Portada{
        @apply bg-cover bg-center;
        background-image: url(/public/backgrounds/elementsV7-redy-600-1300.png);
    }
    .bg_Moon{
        @apply bg-cover bg-center;
        background-image: url(/public/backgrounds/bgMoonV5-redy-600-1300.png);
    }
    .bgConoc1{
        @apply bg-cover bg-center;
        background-image: url(/public/Others/tailwind-nextjs.png);
    }
    .bgConoc2{
        @apply bg-cover bg-center;
        background-image: url(/public/Others/stcakMern.jpg);
    }
    .bgConoc3{
        @apply bg-cover bg-center;
        background-image: url(/public/Others/mvcCore.jpg);
    }
    .bgConoc4{
        @apply bg-cover bg-center;
        background-image: url(/public/Others/backend.png);
    }
    .bgPort1{
        @apply bg-cover bg-center;
        background-image: url(/public/projectImages/Portfolio.jpeg);
    }
    /* Other */
    .App{

    }
    .spContainer{
        color: #DFDDE6;
        font-family: "Hind Madurai", Helvetica, Arial, sans-serif; 
        overflow-x: hidden;
        background-image: url(/public/backgrounds/fondoV4-redy750-1300.png);
        @apply w-[calc(97vw)] h-screen;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    .scrollEfect{
        scroll-snap-align: end;
    }
    .scrollEfectII{
        scroll-snap-align: start;
    }
    .scrollEfectIII{
        scroll-snap-align: center;
    }
    .mt_screen{
        margin-top: 90vh;
    }
    .leftBarr{
        border-right: 1px solid #DFDDE6;
    }
    /* Clases de los links del navbar */
    .inactiveA{
        @apply p-2 rounded-lg transition-all hover:bg-c_Mischka hover:text-c_Ebony hover:border-c_Ebony;
    }
    .activeA{
        @apply border-y-2 border-c_Mischka p-2 rounded-lg transition-all hover:bg-c_Mischka hover:text-c_Ebony hover:border-c_Ebony;
    }
    /* Clases para cajas con glassmorfismo */
    .glassBox{
        /* @apply rounded-lg p-6; */
        @apply bg-opacity-40 bg-c_Purple backdrop-filter backdrop-blur-lg border border-c_Purple border-opacity-50 rounded-lg shadow-lg shadow-c_Ebony
    }
}