@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bgOpaque{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .margins{
        @apply outline outline-white outline-1 rounded-md
    }
    .flexAllCenter{
        @apply flex justify-center items-center;
    }
    /* Estilo de fuente */
    .txtPrincipal{
        font-family: "Hind Madurai", Helvetica, Arial, sans-serif; 
    }
    .txtSecondary{
        font-family: 'Ubuntu', cursive, sans-serif; 
    }
    /* Tamaños de fuente */
    .txtSm{
        font-size:  calc(0.5em + 0.5vw);
        line-height: 1.2em;
    }
    .txtMd{
        font-size:  calc(0.5em + 0.7vw);
        line-height: 1.2em;
    }
    .txtLg{
        font-size:  calc(0.8em + 0.9vw);
        line-height: 1.2em;
    }
    .txtXl{
        font-size:  calc(1.3em + 1.5vw);
        line-height: 1em;
    }
    .txtXl2{
        font-size:  calc(1.5em + 1.8vw);
        line-height: 1em;
    }
    /* Backgrouns */
    .bg_Portada{
        @apply bg-cover bg-center;
        background-image: url(/public/backgrounds/elementsV4Colors-600-1300.png);
    }
    .bg_Moon{
        @apply bg-cover bg-center;
        background-image: url(/public/backgrounds/bgMoonV3Colors-600-1300.png);
    }
    /* Other */
    .App{

    }
    .spContainer{
        color: #E5E1FA;
        font-family: "Hind Madurai", Helvetica, Arial, sans-serif; 
        overflow-x: hidden;
        background-image: url(/public/backgrounds/fondoV1.jpg);
        @apply w-[calc(97vw)] h-screen;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    .scrollEfect{
        scroll-snap-align: end;
    }
    .scrollEfectII{
        scroll-snap-align: start;
    }
    .mt_screen{
        margin-top: 90vh;
    }
    .leftBarr{
        border-right: 1px solid #B584FF;
    }
}